@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat&display=swap");

/* General Styles */

html {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

th,
tr {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 12px;
}

body {
  background-color: #060606;
  color: white;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1vw;
}

th,
td {
  border: 2px solid #020202;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

th {
  background-color: #333;
}

tbody tr:nth-child(even) {
  background-color: #222;
}

tbody tr:nth-child(odd) {
  background-color: #111;
}

/* Logo Styles */
.logo {
  display: inline;
  margin: 0 auto;
  width: 10vw;
}

.logo-text {
  display: inline;
  margin: 0 auto;
  font-size: 2vw;
}

/* Highlight Styles */
.highlight {
  background-color: rgba(255, 229, 130, 0.5) !important;
}

.user-row {
  background-color: rgba(219, 128, 128, 0.5) !important;
}

/* Tooltip Styles */
.cell-tooltip {
  position: relative;
}

.cell-tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9em;
  opacity: 0.9;
  z-index: 1;
}

/* Button Styles */
#drop-btn,
#req-btn {
  padding: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
}

#drop-btn {
  background-color: #b60000;
  color: white;
}

#req-btn {
  background-color: #ffcb05;
  color: black;
}

#drop-btn:hover,
#req-btn:hover {
  background-color: black;
  color: white;
}

/* Miscellaneous Styles */
.right-side {
  float: right;
}

/* Dynamic Div Styles */
.dynamic-div {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(17, 22, 78, 0.38);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30vw;
  height: 20vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  z-index: 9999;
}

.div-title {
  position: absolute;
  top: 10px;
}

.submit-btn {
  padding: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #b60000;
  color: white;
  position: absolute;
  bottom: 10px;
}

.pulse-red {
  animation: pulse-red 6s infinite;
}

@keyframes pulse-red {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #b60000;
  }
  100% {
    background-color: #333;
  }
}

/* Responsive Styles */
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
