@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nabla&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1vw;
}

th,
td {
  border: 2px solid #222;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ccc;
}

.logo {
  display: inline;
  margin: 0 auto;
  width: 10vw;
}

.logo-text {
  display: inline;
  margin: 0 auto;
  font-size: 2vw;
}

.highlight {
  background-color: #fff8aa !important;
}

/* Tooltip styling */
.cell-tooltip {
  position: relative;
}

.cell-tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9em;
  opacity: 0.9;
  z-index: 1;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
